/*/////////////////////////////////////////// TIPOGRAFIA  //////////////////////////////////////////*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,600italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

.loader{
    background: #333;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20000;
     text-align: center;


    
}

.loader-container{
   /* border: 1px solid #555;*/
    height: 80%;
    width: 50%;
    color: #fff;
     text-align: center;
     padding-top: 15%;
    margin: 5% 25%;
    font-family: 'Roboto Slab', serif;font-weight: 300; font-size: 36px;
   }



.delay-1s{
       -moz-animation-duration: 1s;
          -moz-animation-delay: 1s;
            animation-duration: 1s;
               animation-delay: 1s;
    -webkit-animation-duration: 1s;
       -webkit-animation-delay: 1s;
}

.delay-2s{
       -moz-animation-duration: 2s;
          -moz-animation-delay: 2s;
            animation-duration: 2s;
               animation-delay: 2s;
    -webkit-animation-duration: 2s;
       -webkit-animation-delay: 2s;
}


.delay-3s{
       -moz-animation-duration: 3s;
          -moz-animation-delay: 3s;
            animation-duration: 3s;
               animation-delay: 3s;
    -webkit-animation-duration: 3s;
       -webkit-animation-delay: 3s;
}


.delay-4s{
       -moz-animation-duration: 4s;
          -moz-animation-delay: 4s;
            animation-duration: 4s;
               animation-delay: 4s;
    -webkit-animation-duration: 4s;
       -webkit-animation-delay: 4s;
}


.delay-5s{
       -moz-animation-duration: 5s;
          -moz-animation-delay: 5s;
            animation-duration: 5s;
               animation-delay: 5s;
    -webkit-animation-duration: 5s;
       -webkit-animation-delay: 5s;
}


.delay-6s, header{
       -moz-animation-duration: 6s;
          -moz-animation-delay: 6s;
            animation-duration: 6s;
               animation-delay: 6s;
    -webkit-animation-duration: 6s;
       -webkit-animation-delay: 6s;
}

.delay-7s{
       -moz-animation-duration: 7s;
          -moz-animation-delay: 7s;
            animation-duration: 7s;
               animation-delay: 7s;
    -webkit-animation-duration: 7s;
       -webkit-animation-delay: 7s;
}

.delay-8s{
       -moz-animation-duration: 8s;
          -moz-animation-delay: 8s;
            animation-duration: 8s;
               animation-delay: 8s;
    -webkit-animation-duration: 8s;
       -webkit-animation-delay: 8s;
}


.delay-9s{
       -moz-animation-duration: 9s;
          -moz-animation-delay: 9s;
            animation-duration: 9s;
               animation-delay: 9s;
    -webkit-animation-duration: 9s;
       -webkit-animation-delay: 9s;
}


.delay-10s{
       -moz-animation-duration: 10s;
          -moz-animation-delay: 10s;
            animation-duration: 10s;
               animation-delay: 10s;
    -webkit-animation-duration: 10s;
       -webkit-animation-delay: 10s;
}


.delay-11s{
       -moz-animation-duration: 11s;
          -moz-animation-delay: 11s;
            animation-duration: 11s;
               animation-delay: 11s;
    -webkit-animation-duration: 11s;
       -webkit-animation-delay: 11s;
}


.delay-12s{
       -moz-animation-duration: 12s;
          -moz-animation-delay: 12s;
            animation-duration: 12s;
               animation-delay: 12s;
    -webkit-animation-duration: 12s;
       -webkit-animation-delay: 12s;
}


.delay-13s{
       -moz-animation-duration: 13s;
          -moz-animation-delay: 13s;
            animation-duration: 13s;
               animation-delay: 13s;
    -webkit-animation-duration: 13s;
       -webkit-animation-delay: 13s;
}





.enfase-small{font-family: 'Source Sans Pro', sans-serif; font-weight: 300; font-size: 36px; display: block;}
.enfase-medium{font-family: 'Source Sans Pro', sans-serif; font-weight: 600; font-size: 48px; font-style: italic; display: block;}
.enfase-large{font-family: 'Source Sans Pro', sans-serif; font-size: 80px; font-weight: 700;  display: block; letter-spacing: -5px;}

.texto-small{font-family: 'Roboto Slab', serif;}
.texto-medium{font-family: 'Roboto Slab', serif;font-weight: 300; font-size: 36px; display: block;}
.texto-large{font-family: 'Roboto Slab', serif; font-weight: 700; font-size: 100px; letter-spacing: 0.5}

 


.block-medium{font-style: normal; font-size: 26px; display: inline-block; background: #13565b; padding: 0 20px;}

/*/////////////////////////////////////////// HEADER  //////////////////////////////////////////*/

    header{ background: #fff;  width: 100%; display: inline-block;  position: fixed; z-index: 10000;  }
    header nav{float: right;  }

 /* brand */
    .box-brand{ position: relative; width: 170px;  height: 70px; }
    .before-brand{ position: absolute; background: #fff; width: 300px; height: 300px; display: inline-block; border-radius: 50%; top: -195px; left: -50px}
    .brand { background: url(../images/sprite.png) 0px -63px; position: absolute; font-size: 0; text-indent: -999999; width: 170px; height: 70px; display: block; float: left; top: 7px; }
    .brand:hover{ opacity: 0.8}


 /* main menu */
    .main-menu, .social-menu{ display: inline-block;  float: left;  }
    .main-menu{ padding-top: 0px;   margin: 0 40px 0 0}
    .main-menu:hover{ }
    .main-menu li {list-style: none;  font-size: 16px; display: inline-block; float: left; }
    .main-menu li a{  padding: 15px 10px; text-decoration: none; color: #a6a6a6; font-family:source_sans_proregular, sans-serif;  border-top: 2px solid transparent; display: block;}
    .main-menu li a:hover, .main-menu li.active a{ border-top: 2px solid #f9a518; color: #f9a518}
 
 /* social menu */
    .social-menu{   padding-top: 0px; }
    .social-menu li{ display: inline-block; float: left; }
    .social-menu li a{  margin-top: 12px;  text-decoration: none; display: block; width: 30px; height: 30px; overflow: hidden;   text-indent: -999999; font-size: 0}
    .social-menu li a:hover{ opacity: 0.6; }
    .icon-facebook{ background: red;  background: url(../images/sprite.png); background-position: -5px 0; }
    .icon-linkedin{ background: blue;  background: url(../images/sprite.png); background-position: -55px 0; }
    .icon-google-plus{ background: green;  background: url(../images/sprite.png); background-position: -103px 0; }


.image-resposive-y{ max-height: 100%}

img{
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
    }

/* 'Slide Destino  //////////////////////////////////////////*/
/* Backgrounds will cover all the section
    * --------------------------------------- */
    #section0,
    #section1,
    #section2,
    #section3, 
    #section4,
    #section5,
    #section6,
    #section7,
    #section8,
    #section9,
    #section10,
    #section11,
    #section12{
        background-size: cover;
    }

    /* Defining each section background and styles
    http://www.picresize.com/
    * --------------------------------------- */
    #section0{ background-image:url(../images/background-destino.jpg);  border-bottom: 15px solid #f25822}
    #section1{ background-image: url(../images/background-vocepode.jpg);  }
    #section2{ background-image: url(../images/background-custozero.jpg); } 
    #section3{ background-image: url(../images/background-investir.jpg); } 
    #section4{ 
                background: #02386a; /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMzg2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjY1YTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top, #02386a 0%, #2265a7 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02386a), color-stop(100%,#2265a7)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #02386a 0%,#2265a7 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #02386a 0%,#2265a7 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #02386a 0%,#2265a7 100%); /* IE10+ */
                background: linear-gradient(to bottom, #02386a 0%,#2265a7 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02386a', endColorstr='#2265a7',GradientType=0 ); /* IE6-8 */
             } 
    #section5{ background-image: url(../images/background-custozero.jpg); } 
    #section6{ background-image: url(../images/background-analisar.jpg); } 
    #section7{ background-image: url(../images/background-financiar.jpg);      } 
    #section8{ background-image: url(../images/background-analisar.jpg);      } 
    #section9{ background-image: url(../images/background-custozero.jpg);      } 
    #section10{ background-image: url(../images/background-acompanhar.jpg);      } 
    #section11{ background-image: url(../images/background-contato.jpg);      } 
    #section12{ background-image: url();      }  







    /*infos
    * --------------------------------------- */
    .group-titile { display: inline-block;  padding-left: 10px; border-left: 5px solid #fba81b; padding-bottom: 10px;}  
    .group-titile .enfase-small{ line-height: 10px;}
    .group-titile .enfase-medium{line-height: 80px; text-transform: uppercase}
    .group-titile .enfase-large{line-height: 50px; text-transform: uppercase}

    

/* HOME */
    #section0 .group-titile{  color: #fff; margin-top: 15%;  }

/* VOCE PODE */
    .info-section1 {width: 100%; position: relative; text-align:right; display: inline-block; color: #fff; margin-top: 10%;   padding-right: 20px; border-right: 7px solid #3c3c3c; padding-bottom: 10px; float: right;}  
    .info-section1 .texto-medium{ color: #626262; margin-bottom: 30px }
    .info-section1 .enfase-large{  color: #3d3d3d; text-transform: uppercase; font-size: 100px; line-height: 80px; margin-bottom: 10px;}
    .info-section1 .enfase-large strong{color:#6b270f; font-size: 100px;}
    .info-section1 .block-medium{font-style: normal; font-size: 26px; display: inline-block; background: #13565b; padding: 0 20px;}
    .info-section1 .imagem-voce-pode{position: absolute;left: 0; top: -120px}


/* INCENTIVOS */
    .info-section2 {position: relative;   height: 100%; width: 100% }
    .info-section2 .box-top{position: absolute;  height: 76%;  top: 0;width: 100%;z-index: 2000}
    .info-section2 .box-bottom{position:absolute; height: 24%; bottom: 0; width: 100%; background: #003d40; z-index: 1000 }
    .info-section2 .imagem-incentivos {max-height: 100% }
    .info-section2 h3{color: #fff; font-weight: 100; line-height: 38px; font-size: 22px; letter-spacing: 1px}
    .info-section2 strong{color: #f9a518;}

/* POR QUE INVESTIR */
    #section3 .group-titile{  margin-top: 10%; color: #dfa33d ;  margin-bottom: 30px}
    #section3 .group-titile .enfase-large{ font-size: 110px}
    #section3 ul{font-family: 'Roboto Slab', serif; list-style: none; padding-left:20px ; font-size: 20px; font-weight: 400}
    #section3 ul li{margin-bottom: 10px; line-height: 25px; border-bottom: 1px solid #ccc; padding: 5px 0;}
    #section3 ul li:last-child{ border: none;}
    #section3 ul li strong{color: #f25822; text-transform: uppercase;}
    #section3 ul li:hover{}


/* CONHECA */
    #section4{}
    #section4 .block-content{margin-top: 10%}
    #section4 .logotipo-change-markers{ float: right; width: 250px}
    #section4 h3{   width: 80%; float: right; color: #fff;  font-weight: 100;  font-size: 24px; line-height: 35px; border-top: 1px solid #2265a7; padding-top: 10px;  margin-bottom: 10px; margin-top: 10px;}
    #section4 .block-medium {background: #fba81b;  float: right; color: #fff; text-transform: uppercase; font-size: 18px; padding: 5px 15px}
    #section4 .box-top{ position: absolute;   height: 70%;  top: 0; width: 100%;  z-index: 1000;  border-bottom: 15px solid #dea038}
    #section4 .box-bottom{ border-top: 2px solid #fff; padding: 50px 0; position:absolute;   height: 30%;    bottom: 0;   width: 100%;   z-index: 2000 ; background-image: url(../images/background-beneficios.jpg); }
    #section4 .box-bottom img{ position: absolute;top: -140px; left: 30%; text-align: center; width: 150px}
    #section4 .box-bottom h4{ font-family: 'Roboto Slab'; width: 100%; display: block; text-align: center; font-weight: 600; font-size: 25px; color: #f25822}
    #section4 .box-bottom p{ font-family: 'Roboto Slab'; text-align: center; font-size: 18px; line-height: 23px}


/* CUSTO ZERO */
    #section5{}
    #section5 .box-top{ position: absolute;   height: 80%;  top: 0; width: 100%;  z-index: 2000;  border-bottom: 15px solid #dea038}
    #section5 .box-bottom{  padding: 50px 0; position:absolute;   height: 20%;    bottom: 0;   width: 100%;   z-index: 2000 ; background-image: url(../images/background-beneficios.jpg); z-index: 1000 }

.imagem-proponente{float: right; margin-top: 70px}
.imagem-investidores{ margin-top: 70px}
.imagem-custo-zero{ z-index: 1000; position: absolute; top: 235px; float: left; margin-left: -50px}

 

 

 